<nz-layout>
  <nz-sider nzWidth="100">
    <ul nz-menu [nzMode]="'inline'" [nzTheme]="'dark'">
      <!-- <li nz-submenu>
        <span title><i nz-icon type="user" theme="outline"></i>个人</span>
        <ul>
          <li nz-menu-item>背包</li>
          <li nz-menu-item>装备</li>
        </ul>
      </li> -->
      <li nz-menu-item (click)="showBackpack()"><i class="iconfont icon-beibao-xian"></i>背包</li>
      <li nz-menu-item (click)="showEquip()"><i class="iconfont icon-wodezhuangbeiku"></i>装备</li>
      
      <li nz-menu-item (click)="showChat(tplChat)"><i nz-icon type="message" theme="outline"></i>聊天</li>
      <ng-template #tplChat>
        <i nz-icon type="message" theme="outline"></i>聊天
      </ng-template>
      <li nz-menu-item (click)="showMail(tplMail)"><i nz-icon type="mail" theme="outline"></i>邮件</li>
      <ng-template #tplMail>
        <i nz-icon type="mail" theme="outline"></i>邮件
      </ng-template>
      <li nz-menu-item (click)="showShop(tplShop)"><i nz-icon type="shop" theme="outline"></i>商店</li>
      <ng-template #tplShop>
        <i nz-icon type="shop" theme="outline"></i>商店
      </ng-template>
    </ul>
  </nz-sider>
  <nz-content>
    <nz-input-group nzCompact [nzSuffix]="suffixButton">
      <nz-input-number [(ngModel)]="packetId" [nzMin]="10000" [nzPlaceHolder]="'包id'"></nz-input-number>
      <textarea nz-input placeholder="包内容" [(ngModel)]="content" [nzAutosize]="{ minRows: 1, maxRows: 10 }" style="width:73%;"></textarea>
    </nz-input-group>
    <ng-template #suffixButton>
      <button nz-button nzType="primary" (click)="send()">发包</button>
    </ng-template>
    <h3>当前所在场景:<span style="color:crimson">{{ currentSceneName }}</span></h3>
    <div nz-row nzGutter="16" nzType="flex" nzJustify="center">
      <div nz-col class="gutter-row" nzXs="10" nzSm="10" nzMd="10" nzLg="8" nzXl="6">
        <div class="gutter-box">
          <nz-card nzTitle="可前往场景">
            <nz-list>
              <nz-list-item *ngFor = "let canGoInfo of sceneCanGoInfos" [nzContent]="nzContent" [nzActions]="[go]">
                <ng-template #go><button nz-button (click)="switchTo(canGoInfo.sceneId)"><i nz-icon type="enter" theme="outline"></i>前往</button></ng-template>
                <ng-template #nzContent>
                    {{canGoInfo.sceneName}}
                </ng-template>
              </nz-list-item>
            </nz-list>
          </nz-card>
        </div>
      </div>
      <div nz-col class="gutter-row" nzXs="10" nzSm="10" nzMd="10" nzLg="8" nzXl="6">
        <div class="gutter-box">
          <nz-card nzTitle="个人信息">
            <nz-list [nzDataSource]="selfInfo" [nzRenderItem]="item">
              <ng-template #item let-item>
                <nz-list-item [nzContent]="nzContent">
                  <ng-template #nzContent>
                    {{item}}
                  </ng-template>
                </nz-list-item>
              </ng-template>
            </nz-list>
          </nz-card>
        </div>
      </div>
    </div>

    <nz-table 
    #roleTable
    nzBordered
    nzTitle="当前场景其它玩家"
    nzSize="middle"
    nzFrontPagination="false"
    nzShowPagination="false"
    [nzData]="roles">
      <thead>
        <tr>
          <th>角色昵称</th>
          <th>角色类型</th>
          <th>等级</th>
          <!-- <th>功能区</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roleTable.data">
          <td>{{role.name}}</td>
          <td>{{role.roleTypeName}}</td>
          <td>{{role.level}}</td>
        </tr>
      </tbody>
    </nz-table>
    <nz-table 
    #monsterTable
    nzBordered
    nzTitle="当前场景的怪物"
    nzSize="middle"
    nzFrontPagination="false"
    nzShowPagination="false"
    [nzData]="monsters">
      <thead>
        <tr>
          <th>怪物名称</th>
          <th>血量/最大血量</th>
          <!-- <th>功能区</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let monster of monsterTable.data">
          <td>{{monster.name}}</td>
          <td>{{monster.currentHp}}/{{monster.maxHp}}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>
</nz-layout>


