<div class="wrapper">
  <a nz-popover [nzContent]="contentTemplate" nzTrigger="click" class="grid" *ngFor = "let itemInfo of itemList;index as i">
    <span class ="string">{{itemInfo.name}}</span>
    <span class="badge" *ngIf = "itemInfo.amount !== 1">{{itemInfo.amount}}</span>
    <ng-template #contentTemplate>
      <div>
        <p>{{itemInfo.name}}</p>
        <button nz-button (click)="useNormalItem(itemInfo)" *ngIf = "isNormalItem(itemInfo)" nzType ="default">使用</button>
        <button nz-button (click)="equipItem(itemInfo)" *ngIf = "isEquip(itemInfo)" nzType ="default">装备</button>
      </div>
    </ng-template>
  </a>
</div>
