<div *ngIf="state!==1">
  <p *ngIf="state===3">{{hint}}</p>
  <input name="address" placeholder="地址" type="text" [(ngModel)]="address">
  <input name="port" placeholder="端口号" type="text" [(ngModel)]="port">
  <input name="subdir" placeholder="子目录，可以为空" type="text" [(ngModel)]="subdir">
  <button (click)="connect()">连接到服务器</button>
</div>
<div *ngIf="state===1">
  <p>{{hint}}</p>
  <form (submit)="sendPacket()">
      <label for="account">帐号：</label>
      <input name="account" placeholder="帐号" type="text" [(ngModel)]="account">
      <label for="account">密码：</label>
      <input name="password" placeholder="密码" type="password" [(ngModel)]="password">
      <button type="submit">send</button>
    </form>
</div>

